*,
::after,
::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* no-js Klasse wird benötigt,
   um ein Dropdown-Menü anzuzeigen,
   wenn das js-Skript nicht funktioniert */
.no-js .menu {
  position: static;
  flex-grow: 1;
  width: auto;
  height: auto;
  transform: translateX(0);
}

.no-js .header__top-container {
  flex-direction: column;
}

.no-js .header__menu-toggle {
  display: none;
}

.no-js .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.no-js .user-nav {
  justify-content: space-around;
  width: 100%;
  padding-top: 25px;
}

.menu-opened {
  overflow: hidden;
}

.menu-opened .header {
  position: static;
  transform: translateX(242px);
}

.header {
  letter-spacing: 1.2px;
  color: #48494d;
  transition: transform 0.3s ease;
}

.header__top,
.header__bottom {
  padding-top: 54px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__bottom {
  padding-top: 14px;
  padding-bottom: 0;
}

.header__top-container {
  position: relative;
  display: flex;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__menu-toggle {
  display: none;
}

.logo {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}

.logo img {
  display: block;
}

.menu,
.menu__wrapper {
  display: flex;
  flex-grow: 1;
}

.menu__user {
  display: none;
}

.menu__categories {
  display: none;
}

.menu__user,
.menu__main,
.menu__categories {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__user-link,
.menu__main-link,
.menu__categories-link {
  text-decoration: none;
  color: inherit;
}

.menu__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 534px;
  width: 56.4%;
  padding-right: 102px;
}

.menu__main-item {
  padding-right: 15px;
}

.menu__main-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.menu__main-link:hover {
  opacity: 0.6;
}

.menu__main-link:active {
  opacity: 0.3;
}

.menu__address {
  position: relative;
  display: inline-block;
  width: 34%;
  max-width: 330px;
  margin-left: auto;
  padding-left: 40px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.menu__address::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-image: url('../img/address.svg');
}

.menu__address:hover,
.user-nav__link:hover::before {
  opacity: 0.6;
}

.menu__address:active,
.user-nav__link:active::before {
  opacity: 0.3;
}

.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style-type: none;
}

.user-nav__link {
  position: relative;
  display: block;
  padding-right: 11px;
  padding-bottom: 7px;
  text-decoration: none;
  color: inherit;
}

.user-nav__link::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-nav__link--favorites {
  margin-right: 5px;
}

.user-nav__link--favorites::before {
  width: 27px;
  height: 25px;
  background-image: url('../img/favorites.svg');
}

.user-nav__link--account::before {
  width: 24px;
  height: 26px;
  background-image: url('../img/user.svg');
}

.user-nav__link--cart::before {
  width: 29px;
  height: 26px;
  background-image: url('../img/cart.svg');
}

.user-nav__link-content {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #ff7931;
}

.header__bottom-container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  position: relative;
  display: block;
  padding-bottom: 14px;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.3;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: -12px;
  right: -12px;
  bottom: -2px;
  display: block;
  height: 3px;
  background-color: transparent;
}

.nav__link--active {
  font-weight: 700;
}

.nav__link--active:hover {
  opacity: 1;
  cursor: default;
}

.nav__link--active:active {
  opacity: 1;
}

.nav__link--active::before {
  background-color: #ff7931;
}

@media (max-width: 767px) {
  .header__top-container,
  .header__bottom-container {
    padding: 0 16px;
  }

  .menu__user {
    display: block;
  }

  .menu__categories {
    display: block;
  }
}

@media (max-width: 1023px) {
  .header__top {
    padding-top: 30px;
  }

  .header__top-container {
    position: static;
  }

  .header__menu-toggle {
    display: block;
    padding: 2px;
    border: 0;
    align-self: center;
    font: inherit;
    color: #c4c4c4;
    background-color: #ffffff;
    transform: translateX(0);
    transition: transform 0.3s ease-in;
    cursor: pointer;
  }

  .header__menu-toggle:focus {
    outline: 0;
    color: rgba(0, 0, 0, 0.4);
  }

  .header__menu-toggle-bar,
  .header__menu-toggle::after,
  .header__menu-toggle::before {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 9px;
    border-radius: 3px;
    background-color: currentColor;
    transition: transform 0.3s ease;
  }

  .header__menu-toggle-bar,
  .header__menu-toggle::after {
    margin-bottom: 0;
  }

  .header__menu-toggle-bar {
    margin-bottom: 9px;
  }

  .header__menu-toggle--active
  .header__menu-toggle-bar {
    opacity: 0;
  }

  .header__menu-toggle--active::before {
    transform: translateY(12px) rotateZ(135deg);
  }

  .header__menu-toggle--active::after {
    transform: translateY(-12px) rotateZ(-135deg);
  }

  .logo {
    position: static;
    flex-shrink: 0;
    width: 102px;
    margin-left: 28px;
    transform: none;
  }

  .logo img {
    width: 77px;
    height: auto;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 242px;
    height: 0;
    padding-top: 20px;
    overflow: hidden;
    transform: translateX(-242px);
    transition: transform 0.3s ease-in;
    background-color: #ffffff;
  }

  .menu-opened .menu {
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
  }

  .menu,
  .menu__wrapper {
    flex-direction: column;
  }

  .menu a,
  .menu__user,
  .menu__categories {
    display: block;
  }

  .menu__main {
    flex-direction: column;
    min-width: auto;
    width: auto;
  }

  .menu__main,
  .menu__main-item {
    padding-right: 0;
  }

  .menu__main-link {
    font-weight: 400;
    text-align: left;
  }

  .menu__main-link::before {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 26px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menu__main-link--shops::before {
    width: 14px;
    height: 17px;
    background-image: url("../img/shops.svg");
  }

  .menu__main-link--sale::before {
    bottom: 16px;
    width: 16px;
    height: 26px;
    background-image: url("../img/actions.svg");
  }

  .menu__main-link--delivery::before {
    width: 17px;
    height: 16px;
    background-image: url("../img/delivery.svg");
  }

  .menu a {
    padding: 16px 18px 21px 43px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }

  .menu a:hover {
    opacity: 0.6;
  }

  .menu a:active {
    opacity: 0.3;
  }

  .menu__user-link,
  .menu__main-link {
    position: relative;
  }

  .menu__user-link::before {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 26px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menu__user-link--log-in::before,
  .menu__user-link--sign-up::before {
    width: 15px;
    height: 16px;
    background-image: url("../img/user-grey.svg");
  }

  .menu__user-link--favorites::before {
    width: 18px;
    height: 16px;
    background-image: url("../img/favorites-grey.svg");
  }

  a.menu__address {
    width: auto;
    max-width: none;
    margin-left: 0;
    font-size: 20px;
  }

  a.menu__address::before {
    content: none;
  }

  .user-nav {
    align-items: center;
    margin-left: auto;
    padding-left: 0;
  }

  .user-nav__link {
    padding-right: 9px;
  }

  .user-nav__link--account::before {
    width: 21px;
    height: 24px;
    background-image: url("../img/user-mobile.svg");
  }

  .user-nav__link-content {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .header__bottom {
    padding-top: 0;
  }

  .nav {
    position: relative;
    display: none;
    font-size: 18px;
    line-height: 22px;
  }

  .nav::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: block;
    bottom: 0;
    width: 108px;
    pointer-events: none;
    background: linear-gradient(270.21deg, #ffffff 0.16%, rgba(255, 255, 255, 0) 96.64%);
  }

  .header__bottom-container {
    overflow-x: auto;
    min-height: 55px;
  }

  .nav__item {
    flex-shrink: 0;
    padding-right: 12px;
  }

  .nav__link {
    padding-top: 4px;
  }
}
